* {
	box-sizing: border-box;
}

body{
	padding-bottom: 200px;
}

b{
	display: block;
	margin: 20px 0;
	text-align: center;
}

/* 2.1 */

#field{
	position: relative;
	width: 300px;
	height: 250px;
	margin: 10px auto;
	border: 10px solid black;
	background-color: #00FF00;
	overflow: hidden;
	cursor: pointer;
}
#ball{
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 50px;
	height: 50px;
	transition: .4s ease;
}

.Carousel{
	position: relative;
	display: inline-block;
	width: 760px;
	height: 250px;
	margin: 50px;
	padding: 30px 80px;
	border-radius: 20px;
	background-color: #cbcbcb;
}
.Carousel-wrapper{
	overflow: hidden;
}
.Carousel-list{
	width: 9999px;
	height: 100%;
	font-size: 0;
	transition: .1s ease;
}
.Carousel-item{
	display: inline-block;
	width: 200px;
	height: auto;
}
.Carousel-left,
.Carousel-right{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	display: flex;
	align-items: center;
	width: 40px;
	height: 40px;
	border: 2px solid #000;
	border-radius: 6px;
	font-size: 35px;
	line-height: 0;
	cursor: pointer;
}
.Carousel-left{
	left: 20px;
}
.Carousel-right{
	right: 20px;
}



/* 2.3 */

#grid {
	width: 250px;
	margin: 0 auto;
	border-collapse: collapse;
}
#grid th, #grid td {
	border: 1px solid black;
	padding: 4px;
}
#grid th {
	cursor: pointer;
}
#grid th:hover {
	background: yellow;
}


/* 2.4 */

.photorama{
	margin: 20px 100px;
}
.photorama-imgLarge{
	display: block;
	width: 500px;
	height: 400px;
	object-fit: cover;
}
.photorama-thumbsBox{
	display: flex;
	margin-top: 10px;
}
.photorama-thumb{
	width: 100px;
	height: 80px;
	cursor: pointer;
}


/* 3.1 */

#ul_mouse {
	display: inline-block;
	margin-left: 300px;
	padding: 30px;
  border: 1px solid #000;
}
#ul_mouse .selected {
	background: #0f0;
}
#ul_mouse li {
	list-style-type: square; 
	cursor: pointer; 
}


/* 3.2 */

#house {
	width: 400px;
	margin-top: 50px;
	margin-left: 400px;
	border: 1px solid brown;
}
#roof {
	width: 0;
	height: 0;
	border-left: 200px solid transparent;
	border-right: 200px solid transparent;
	border-bottom: 20px solid brown;
	margin-top: -20px;
}
.tooltip-house {
	position: fixed;
	padding: 10px 20px;
	border: 1px solid #b3c9ce;
	border-radius: 4px;
	text-align: center;
	font: italic 14px/1.3 sans-serif;
	background: #fff;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
	z-index: 2;
}
#house p {
	text-align: justify;
	margin: 10px 3px;
}

.clock{
	display: inline-block;
	margin-top: 100px;
	margin-bottom: 100px;
	margin-left: 700px;
	padding: 30px;
	background-color: yellow;
}
.tooltip_smart {
	position: fixed;
	padding: 10px 20px;
	border: 1px solid #b3c9ce;
	border-radius: 4px;
	text-align: center;
	font: italic 14px/1.3 sans-serif;
	background: #fff;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
	z-index: 2;
}


/* 3.3 */

.range{
	position: relative;
	width: 300px;
	height: 10px;
	margin: 30px 300px;
	border-radius: 6px;
	background-color: #ccc;
}
.range-bar{
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 15px;
	height: 30px;
	border-radius: 4px;
	background-color: blue;
	cursor: pointer;
}

.soccer_DnD{
	padding: 50px;
}
.soccer_DnD-box{
	font-size: 0;
}
#field_DnD {
	display: inline-block;
	vertical-align: top;
  background: url(https://js.cx/drag-heroes/field.png);
  width: 800px;
  height: 600px;
}
/* герои и мяч (переносимые элементы) */
.hero_DnD {
	display: inline-block;
  background: url(https://js.cx/drag-heroes/heroes.png);
  width: 130px;
  height: 128px;
}
#hero1_DnD {
  background-position: 0 0;
}
#hero2_DnD {
  background-position: 0 -128px;
}
#hero3_DnD {
  background-position: -120px 0;
}
#hero4_DnD {
  background-position: -125px -128px;
}
#hero5_DnD {
  background-position: -248px -128px;
}
#hero6_DnD {
  background-position: -244px 0;
}
.draggable {
  cursor: pointer;
}



/* 4.2 */

.view,
.edit {
  height: 150px;
  width: 400px;
  font-family: sans-serif;
  font-size: 14px;
  display: block;
}
.view {
  padding: 2px;
  border: 1px solid black;
}
.edit { 
  border: 3px solid blue;
  padding: 0px;
}


.bagua-table{
	margin: 0 auto;
}
.bagua-table th {
  text-align: center;
  font-weight: bold;
}
.bagua-table td {
	position: relative;
  width: 150px;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  padding: 10px;
}
.bagua-table .nw {
  background-color: #999;
}
.bagua-table .n {
  background-color: #03f;
  color: #fff;
}
.bagua-table .ne {
  background-color: #ff6;
}
.bagua-table .w {
  background-color: #ff0;
}
.bagua-table .c {
  background-color: #60c;
  color: #fff;
}
.bagua-table .e {
  background-color: #09f;
  color: #fff;
}
.bagua-table .sw {
  background-color: #963;
  color: #fff;
}
.bagua-table .s {
  background-color: #f60;
  color: #fff;
}
.bagua-table .se {
  background-color: #0c3;
  color: #fff;
}
.bagua-textarea{
	resize: none;
}


#mouse{
	margin-left: 300px;
}
#mouse:focus{
	outline: 1px solid red;
}